/*reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

img {
  width: 100%;
}
iframe {
  width: 100%;
}
/*utils*/

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0px auto;
  padding: 0px 10px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: lightgray;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-inline {
  display: inline;
}
section{
    padding: 20px 0px;
}

/*MAIN*/
/*header*/
.header {
  background-color: white;
}
h1 {
  font-family: "Nerko One", cursive;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: orange;
  padding: 10px 0px;
}
/*VIDEO SECTION*/
h3 {
  color: rgb(99, 99, 99);
}
h2 {
  color: rgb(53, 34, 66);
}
.container-video {
  background-color: white;
}
.column-sm > p {
  font-weight: bold;
  padding: 10px;
}
ul > li {
  padding: 10px;
  list-style: none;
}
li > span,
.btn-container > span.icons {
  font-weight: bold;
}
.btn-container {
  justify-content: space-between;
  padding: 20px 0px;
}
.icons-social {
  background-color: white;
  padding: 5px 10px;
  border-radius: 15px;
}
.facebook {
  color: blue;
}
.instagram {
  color: rgb(255, 20, 71);
}
.twitter {
  color: rgb(75, 165, 196);
}
.pinterest,
.youtube {
  color: red;
}
/*PRESENTATION*/
.title-section{
    text-decoration: none;
    padding: 10px px;

}
hr{
    color: orange;
    width: 30px;
    margin: 10px 0px;
}
.Presentation  p {
    font-weight: 100;
    word-spacing: 0.5rem;
}


/*MEDIA */
@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-inline {
    display: inline;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-flex {
    display: flex;
  }
  .d-lg-inline {
    display: inline;
  }
}
