/*reset*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }
    img{
        width: 100%;
    }
    /*utils*/
    
    
    
    h1{
        font-family: "Nerko One", cursive;
      font-weight: 400;
      font-style: normal;
    }