/*reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

img {
  width: 100%;
}
iframe {
  width: 100%;
}
/*utils*/

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: rgb(247, 244, 227);
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-inline {
  display: inline;
}
section {
  padding: 20px 0px;
}

/*MAIN*/
/*header*/
.header {
  background-color: white;
}
h1 {
  font-family: "Nerko One", cursive;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: orange;
  padding: 10px 0px;
}
/*VIDEO SECTION*/
h3 {
  color: rgb(99, 99, 99);
  padding: 10px 0px;
  font-weight: 300;
}
h2 {
  color: rgb(74, 44, 94);
  padding: 20px 0px;
  font-size: 1.8rem;
}
.container-video {
  background-color: white;
  box-shadow:1px 2px 5px gray;
}
.column-sm {
  padding: 30px 20px;
}
.column-sm > p {
  font-weight: bold;
  padding: 10px;
  font-size: 1.3rem;
}

ul > li {
  padding: 10px;
  list-style: none;
}
li > span,
.btn-container > span.icons {
  font-weight: bold;
}
.btn-container {
  justify-content: space-between;
  padding: 20px 0px;
}
.icons-social {
  background-color: white;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow:1px 2px 5px gray;
}
.icons-social > a{
  text-decoration: none;
}
.facebook {
  color: blue;
}
.instagram {
  color: rgb(255, 20, 71);
}
.twitter {
  color: rgb(75, 165, 196);
}
.pinterest,
.youtube {
  color: red;
}
/*PRESENTATION*/
.title-section {
font-weight: normal;
  padding: 10px px;
}
hr {
border: 1px solid orange;
width: 60px;
margin: 20px 0px;
}
.img-container {
  width: 300px;
  margin: auto;
}
.Presentation p {
  font-weight: normal;
  word-spacing: 0.5rem;
  line-height: 1.6rem;
  padding-bottom: 30px;
}
/*FOOTER*/
.footer {
  background-color: rgb(162, 85, 235);
  color: white;
  font-weight: bold;
  padding: 20px 0px;
}
.footer-link > a {
  color: white;
}
.informations {
  padding: 20px 0px;
  line-height: 1.6rem;
}

.footer-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}

/*MEDIA */
@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-inline {
    display: inline;
  }
  .d-md-inlineblock {
    display: inline-block;
  }
  .list-items {
    margin-right: 40px;
  }
  .icons-social {
    padding: 10px 70px;
  }
  .img-container {
    float: left;
    margin: 5px 10px 5px 0px;
  }
  h1 {
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-flex {
    display: flex;
  }
  .d-lg-inline {
    display: inline;
  }
  .column-lg {
    width: 60%;
  }
  .column-sm {
    width: 40%;
  }

  .icons-social {
    padding: 10px 50px;
    font-size: 0.8rem;
  }
  .icons-social > a > span {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
  }
  .footer-container {
    justify-content: space-between;
    flex-direction: row;
  }
  .informations {
    text-align: left;
  }
}
